/*police du site Raleway*/
@font-face {
    font-family: Raleway, sans-serif;
    src: url("../fonts/static/Raleway-Black.ttf") format("truetype");

}

body {
    font-family: Raleway
}

/*-------------------------------------------------- Header --------------------------------------------------*/
/*--- Tilte and nav -----------*/




header#branding nav {
    font-size: 16px;
    font-weight: 600;
}

header#branding nav li:last-child a{
    font-weight: 700;
}



/*----section---------------------------------------------- Main -----------------------------------------------*/
main#wrapper h1.title_main {
    font-size: 24px;
}

main#wrapper h1.title_main+p {
    font-size: 16px;
    font-weight: 600;
}

/* --- div#filter --------------*/

main#wrapper section#filter div#info_filter i.fa-info{
   font-size: 12px;
}


main#wrapper section#filter div#filter_research label input{
    font-size: 1rem;
}
main#wrapper section#filter div#filter_research label{
    font-weight: 600;
}

main#wrapper section#filter ul#filter_field,
main#wrapper section#filter div#filter_research input::placeholder
{
    font-weight: 800;

}
/*--- section / article*/
section#container_main article#content_main ul li figcaption,
section#container_main article#content_sub ul li figcaption:first-child,
section#container_main article#content_main>span {
    font-weight: 800;
}



section#container_sub article#content_main p {
    font-weight: 800;
}


/*----------------------------------------------------- Footer -----------------------------------------------*/

footer#foot_page ul li a {
    font-weight: 400;
    font-size: 14px;
}