/* CSS Layout----------------------------------------------------------------*/



/*
Le CSS est composé de 4 feuille de style "layout.css", "style.css", "fonts.css", "media_query.css"
-Layout : Corps principal qui organise et agence les différentes éléments HTML.
-style : Régles de stylisation (color, border...)
-fonts : réglemente la taille des polices
-media_query : spécifie les reglés @media des différent viewport / affichage

exception : les régles des ICONS est sont gérer pas layout alors que les instructions de gère le taille est "font-weight"

*/



/*----------------------------------------------------------------------------*/
body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
}

header,
main {
    width: 1340px;
    align-self: center;
}

/*genetic style*/
figure {
    margin: initial;
}

ul {
    padding: 0;
}

p {
    margin: 2px 0 0;
}

button{
    cursor: pointer;
}


/*-------------------------------------- Header / Nav barre -----------------------------------*/


header#branding{
    display: flex;
    justify-content: flex-end;
    position: relative;
   
}

header#branding>h1 {
    margin: initial;
    position:absolute;
    left: 0;
    top: 35px;
    
}
header#branding nav#nav_barre_main ul.list_btn {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-areas:
        "btn1 btn2 btn3"
    ;
}
header#branding nav#nav_barre_main ul {
    margin: initial;
    align-items: center;
}


header#branding nav#nav_barre_main ul h1 {
    height: 0px;
}


header#branding  nav#nav_barre_main ul li {
    display: flex;
    justify-content: center;
}


header#branding nav#nav_barre_main ul.list_btn li:nth-child(1) {
    grid-area: btn1;

}

header#branding nav#nav_barre_main ul.list_btn li:nth-child(2) {
    grid-area: btn2;

}

header#branding  nav#nav_barre_main ul.list_btn li:nth-child(3) {
    grid-area: btn3;

}

header#branding  nav#nav_barre_main ul.list_btn li a.btn {
    text-align: center;

}


/*----------------------------------------------------------------- Main ----------------------------------------------------------*/
main#wrapper{
    margin-top:60px;
    margin-bottom: 60px;
}

/*-------------------------------------------------------------- Section -----------------------------------------------------------*/

main#wrapper section#filter {
    display: flex;
    flex-flow: column wrap;
}

main#wrapper section#filter div#info_filter {
    display: flex;
    align-items: baseline;
    column-gap: 15px;
}

main#wrapper section#filter div#info_filter i.fa-info {
    padding: 5px 10px;
}

main#wrapper section#filter form#filter_research {
    display: flex;
    margin: 25px 0;
    width: 400px;
}

main#wrapper section#filter form#filter_research label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   
}
main#wrapper section#filter form#filter_research i.fa-map-marker-alt {
    padding: 20px;
}

main#wrapper section#filter form#filter_research label input#area_research {
    padding-left: 1rem;
}

main#wrapper section#filter form#filter_research label>i.fa-search,
main#wrapper section#filter form#filter_research button#btn_filter
{
    padding: 20px;
    align-self: center;
}
main#wrapper section#filter form#filter_research button#btn_filter{
    border: initial;
     position: relative;
}

main#wrapper section#filter form#filter_research button#btn_filter i.fa-search {
    visibility: collapse;
    position: absolute;
}



/*-------------------------------*/

main#wrapper section#filter ul#filter_field {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    
}


main#wrapper section#filter  div#filter_list{
    display: flex;
    column-gap: 20px;
    margin-bottom: 35px;
}
main#wrapper section#filter  div#filter_list h3{
    align-self: center;
}


main#wrapper section#filter ul#filter_field li:nth-child(1) i.fas {
    padding: 14px 12px;
}

main#wrapper section#filter ul#filter_field li:nth-child(2) i.fas {
    padding: 14px 16px;
}

main#wrapper section#filter ul#filter_field li:nth-child(3) i.fas {
    padding: 14px 14px;
}

main#wrapper section#filter ul#filter_field li:nth-child(4) i.fas {
    padding: 14px 13px;
}

main#wrapper section#filter ul#filter_field li>span {
    padding: 15px 20px 0 10px;

}

/*--- Container_main content_main   -----------------------*/
section#container_main {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    column-gap: 43px;
}

section#container_main article.content_main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%;
}

section#container_main article.content_main>h2,
section#container_main article.content_main>span {
    align-self: center;
    width: 93%;
}

section#container_main article.content_main>h2{
    margin-top: 53px;
    margin-bottom: 25px

}
section#container_main article.content_main>span{
    margin-top: 30px;
}

section#container_main article.content_main>span {
    padding: 34px 0 54px;
}

section#container_main article.content_main div#list_hebergement_content{
    display: flex;
    flex-direction: column;
    row-gap: 30px;   
}
section#container_main article.content_main div#list_hebergement_content ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;margin: 0;

}

section#container_main article.content_main div#list_hebergement_content>ul li.list_hebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 241px;
    height: 202px;
}

section#container_main article.content_main div#list_hebergement_content>ul li.list_hebergement div.image_content {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 290px;
    overflow: hidden;
    position: relative; 
}

section#container_main article.content_main div#list_hebergement_content>ul li.list_hebergement div.image_content img {
   position: absolute;
   width:100%;
}
section#container_main article.content_main div#list_hebergement_content>ul:first-child li.list_hebergement:nth-child(1) div.image_content img{
    bottom: -15px;
}
section#container_main article.content_main div#list_hebergement_content>ul:first-child li.list_hebergement:nth-child(2) div.image_content img{
    bottom: -25px;
}
section#container_main article.content_main div#list_hebergement_content>ul:first-child li.list_hebergement:nth-child(3) div.image_content img{
    top: -15px;
}

section#container_main article.content_main div#list_hebergement_content>ul:nth-child(2) li.list_hebergement:nth-child(1) div.image_content img{
    bottom: -50px;
}

section#container_main article.content_main div#list_hebergement_content>ul:nth-child(2) li.list_hebergement:nth-child(3) div.image_content img{
 bottom: -125px;
}




/*--- content_main ul li ul (content ring)---*/
section#container_main article.content_main ul li>div.note_list {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
}

/*--- content_main ul li ul li (ring)---*/
section#container_main article.content_main ul li>div.note_list i {
    display: flex;
    justify-content: space-evenly;

}

section#container_main article.content_main ul li div.position_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 20px;
}

section#container_main article.content_main ul li div.note_list,
section#container_main article#content_sub ul li div div.note_list {
    display: flex;
    column-gap: 1px;
    font-size: 12px;
}

/*--- container_main content_sub ----------------------------------------------------------------------*/


section#container_main article#content_sub {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 415px;
}

section#container_main article#content_sub h2 {
    width: 81%;
    display: flex;
    justify-content: space-between;
}

section#container_main article#content_sub img.fa-chart-line {
    margin-left: 4rem
}

/*--- content_sub ul -------------*/
section#container_main article#content_sub>ul {
    display: flex;
    padding: 0 39px;
    flex-flow: column wrap;
    gap: 35px;
}

/*--- content_sub li ---------*/

section#container_main article#content_sub ul li {
    display: flex;
    justify-content: space-between;
    gap: 22px;
}

/*--- content_sub div ---*/
section#container_main article#content_sub ul li.list_populaire div.info_populaire {
    display: grid;
    grid-template-rows: 23px 30px;
}

section#container_main article#content_sub ul li.list_populaire div.img_populaire {
    width: 139px;
    height: 137px;
    overflow: hidden;
     position:relative;
}

section#container_main article#content_sub ul li.list_populaire div.img_populaire img{
    position:absolute;
   height: 100%
}

section#container_main article#content_sub ul li.list_populaire:last-child div.img_populaire img{
    height: 212px;
    bottom: -40px;
}

/*-----------------*/

section#container_main article#content_sub ul li.list_populaire div.info_populaire {
    align-content: space-around;
    width: 174px;
}

section#container_main article#content_sub ul li.list_populaire div.info_populaire img {
    height: 133px;
    width: 100%;
}

section#container_main article#content_sub ul li.list_populaire div.info_populaire p {
    margin: initial;
    height: 15px;
}



/*---- img --------*/


section#container_main article#content_main ul li.list_herberg div.image_content img {
    width: 230px;
    height: 120px;
}

section#container_main article#content_main ul li div.image_content {
    background-size: cover;
    background-position: center;
    border-color: transparent;
}

/*--------------------------------------------------------- Container_sub   ------------------------------------------------*/



section#container_sub {
    margin-top: 75px;
}

section#container_sub p {
    margin: 0;
    padding: 20px 0 20px 20px;
}

section#container_sub article#content_main ul#activites {
    display: flex;
    justify-content: space-between;
    
}

section#container_sub article#content_main ul#activites li ul li.image_big {
    width: 303px;
}

section#container_sub article#content_main ul#activites li ul li.image_big div:first-child {
    height: 389px;
    overflow: hidden;
    position: relative;
}

section#container_sub article#content_main ul#activites li ul li.image_big div img {
    position: absolute;
    height: 100%
}

section#container_sub article#content_main ul#activites li:first-child ul li.image_big div img {
    right: -150px;
    top: 0px
}

section#container_sub article#content_main ul#activites li:last-child ul li.image_big div img {
    left: -110px
}

/*----------------*/

section#container_sub article#content_main ul#activites li#group_img_1>ul{
    display: flex;
    column-gap: 40px;

}
section#container_sub article#content_main ul#activites li#group_img_1 ul li ul.small_image_content.group_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


section#container_sub article#content_main ul#activites li#group_img_1 ul li.small_image_content.group_1 ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
}

section#container_sub article#content_main ul#activites li#group_img_1 ul li.small_image_content.group_1 ul li.image_small {
    display: flex;
    flex-direction: column;
}


section#container_sub article#content_main ul#activites li#group_img_1 ul li.small_image_content.group_1 ul li:first-child div:first-child {
    position: relative;
    height: 182px;
    width: 303px;
    overflow: hidden;
}

section#container_sub article#content_main ul#activites li#group_img_1 ul li.small_image_content.group_1 ul li:first-child div:last-child,
section#container_sub article#content_main ul#activites li#group_img_1 ul li.small_image_content.group_1 ul li:last-child div:last-child {
    height: 56px;

}

section#container_sub article#content_main ul#activites li#group_img_1 ul li.small_image_content.group_1 ul li:first-child div img {
    position: absolute;
    width: 100%;
    top: -110px
}

section#container_sub article#content_main ul#activites li#group_img_1 ul li.small_image_content.group_1 ul li:last-child div:first-child {
    position: relative;
    height: 108px;
    width: 303px;
    overflow: hidden;
}


section#container_sub article#content_main ul#activites li#group_img_1 ul li.small_image_content.group_1 ul li:last-child div img {
    position: absolute;
    width: 100%;
    top: -21px;
}

/*-----------------------------------*/

section#container_sub article#content_main ul#activites li#group_img_2>ul{
    display: flex;
    column-gap: 40px;

}

section#container_sub article#content_main ul#activites li#group_img_2 ul li.small_image_content.group_2 ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height:100%    
}

section#container_sub article#content_main ul#activites li#group_img_2 ul li.small_image_content.group_2 ul li.image_small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#container_sub article#content_main ul#activites li#group_img_2 ul li.small_image_content.group_2 ul li:first-child div:first-child {
    position: relative;
    height: 140px;
    width: 303px;
    overflow: hidden;
}

section#container_sub article#content_main ul#activites li#group_img_2 ul li.small_image_content.group_2 ul li:first-child div:last-child,
section#container_sub article#content_main ul#activites li#group_img_2 ul li.small_image_content.group_2 ul li:last-child div:last-child {
    height: 57px;

}

section#container_sub article#content_main ul#activites li#group_img_2 ul li.small_image_content.group_2 ul li:first-child div img {
    position: absolute;
    width: 100%;
    
}

section#container_sub article#content_main ul#activites li#group_img_2 ul li.small_image_content.group_2 ul li:last-child div:first-child {
    position: relative;
    height: 153px;
    width: 303px;
    overflow: hidden;
}

section#container_sub article#content_main ul#activites li#group_img_2 ul li.small_image_content.group_2 ul li:last-child div img {
    position: absolute;
    width: 100%;
    top: -18px;
}


/*----------------------------------------------------------------- Footer ----------------------------------------------------------*/

footer {

    display: flex;
    justify-content: center;
    width: 100%;
}

footer#foot_page section#info_site {
    height: 250px;
    display: flex;
    align-items: center;
    width: 1338px;


}

footer#foot_page section#info_site>ul {

    display: flex;
    justify-content: space-between;
    width: 76%;
}

footer#foot_page section#info_site ul li ul li:nth-child(1n+1) {
    margin: 8px 0;
}