/*--- Screen -------*/

/*--------------------------------------------------------------------- mobile ---------------------------------------------------------------------*/
/*575.98 x 667*/

@media screen and (max-width: 575.98px) {
    body {
        margin: initial;
        padding: initial;
    }

    /*---- header ---------------------------------------*/
    header#branding {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 644px;
        margin: 20px 10px;
    }

    header#branding>img {
        width: 25%;
        order: -2;
    }

    header#branding h1+p {
        margin: initial;
    }

    header#branding #nav_barre_main {
        position: initial;
        order: -1;
        
    }

    header#branding #nav_barre_main ul {
        display: flex;
       
        width: 100%
    }

    header#branding #nav_barre_main ul li:last-child a{
        position: absolute;
        right: -34px;
        top: -57px;
    }

    /*--- anime buttom ---*/
    /* header#branding #nav_barre_main ul li a:hover{
        color: red;
        border-color: red;
    } */

    /**/
    header#branding div#filter {
        height: initial;
        flex-grow: 1;
    }

    header#branding div#filter div#filter_style {
        display: flex;
        justify-content: space-between;
        width: initial;
    }

    header#branding div#filter div#filter_style img {
        padding: initial;
        padding: 20px;
        margin: initial;

    }

    header#branding div#filter div#filter_style label {
        display: flex;

    }

    header#branding div#filter div#filter_style label a {
        padding: initial;
    }

    div#filter div#filter_style label a#btn_filter {
        visibility: hidden;
        display: none;
    }

    header#branding div#filter div#filter_style input {
        height: initial;
    }

    header#branding div#filter div#filter_style label+img.fa-searh-solid {
        display: initial;
        visibility: visible;
        padding: 19px;
    }

    /**/

    header#branding div#filter ul#filter_field {
        width: initial;
        align-items: initial;
        justify-content: initial;
    }

    header#branding div#filter ul#filter_field span {
        width: 100%;

    }

    header#branding div#filter ul#filter_field li {
        margin: 4px 3px;
    }

    header#branding div#filter ul#filter_field li img {
        margin-right: 18px
    }

    header#branding div#filter figure {
        width: 100%;
    }

    header#branding div#filter figure img {
        margin-right: 10px;
        align-self: baseline;
        padding: initial;
    }

    /*---------------------------------------------------- main --------------------------------------*/


    /*-------------------------------------------------- section -------------------------------------*/
    main#wrapper section#container_main {

        display: flex;
        flex-direction: column-reverse;
    }


    /*-------------------------------------------------- article -------------------------------------*/
    /*--- #container_main #content_main*/

    section#container_main article#content_main {
        display: flex;
        padding: 0 15px;
        flex-direction: column;
        width: initial;

    }

    section#container_main article#content_main div#style_list_herberg {
        display: grid;
        row-gap: 13px
    }

    section#container_main article#content_main ul {
        display: grid;
        row-gap: 13px;
        margin: initial;
    }

    section#container_main article#content_main>ul {
        flex-direction: column;
        padding: 0 15px;
    }

    section#container_main article#content_main ul li.list_herberg div {

        width: 100%;
    }

    section#container_main article#content_main ul li ul.note_list li {
        height: 10px;
    }




    /*--- #container_main #content_sub ---*/

    section#container_main article#content_sub {
        margin-bottom: 30px;
    }

    section#container_main article#content_sub h2 {
        width: 95%;
        justify-content: space-between;
    }

    section#container_main article#content_sub>ul {
        margin: initial;
       
    }

    /*--- #container_sub #content_main ---*/
    section#container_sub{
        margin: initial;
        padding: 0 25px;
    }

    section#container_sub article#content_main ul#activites{
        grid-column-gap:initial;
        
        display: flex;
        flex-flow: column wrap;
    }
    

    /*------------------------------------------------------- footer ------------------------------------------------*/


    footer#foot_page {
        margin: 50px 0 0 0;
        padding: 0 25px 0 25px;

    }

    footer#foot_page section#info_site {
        flex-direction: column;
        height: initial;
        width: 100%;
        align-items: flex-start;
    }

    footer#foot_page section#info_site>ul {
        flex-direction: column;
        justify-content: center;
        width: initial;
    }


    /*------------------------------------------------------- style----------------------------------------------------*/



    main#wrapper section#container_main article#content_main {
        background-color: initial;
    }


    section#container_main article#content_sub {
        border-radius: initial !important;
    }
}