/*--- Screen -------*/



@media screen and (min-width:992px) {}

@media screen and (min-width:768px) and (max-width:991.98px) {

    main#wrapper section#container_main {
        justify-content: space-evenly;

    }

    main#wrapper section#container_main article#content_main h2~ul {
        flex-direction: column;
        width: 35%;

    }

    main#wrapper section#container_main article#content_main h2+div {
        display: flex;
        justify-content: space-evenly;
        position: relative;
        padding-bottom: 40px;
    }

    main#wrapper section#container_main article#content_main h2+div span {
        position: absolute;
        left: 0;
        bottom: -1rem;
    }


}

@media screen and (min-width:576px) and (max-width:767.98px) {


    main#wrapper section#container_main {
        flex-direction: column;
        align-items: center;
    }

    main#wrapper section#container_main article#content_main {
        margin-bottom: 50px;
    }

    main#wrapper section#container_main article#content_main span {
        padding-bottom: 30px;
        padding-top: 30px;

    }
    

    main#wrapper section#container_sub article#content_main ul#activites {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: initial;
    }
}

/*--------------------------------------------------------------------- mobile ---------------------------------------------------------------------*/
/*575.98 x 667*/

@media screen and (max-width: 575.98px) {
    body {
        margin: initial;
        padding: 0 25px;
    }



    /*---- header ---------------------------------------*/
    #branding {
        display: flex;
        flex-direction: column;

    }

    #branding>img {
        width: 25%;
    }

    #branding h1 {
        margin-top: 45px;

    }

    #branding #nav_barre_main {
        position: initial;
        margin-top: 50px;

    }

    #branding #nav_barre_main li:last-child {
        position: absolute;
        right: 3%;
        top: 10px;
    }

    #branding div#filter div#filter_style {
        display: flex;
        justify-content: space-between;
        width: initial;
    }

    #branding div#filter div#filter_style img {
        padding: initial;
        padding: 20px;
        margin: initial;

    }

    #branding div#filter div#filter_style label {
        display: flex;

    }

    #branding div#filter div#filter_style label a {
        padding: initial;
    }

    div#filter div#filter_style label a#btn_filter {
        visibility: hidden;
        display: none;
    }

    header#branding div#filter div#filter_style input {
        height: initial;
    }

    header#branding div#filter div#filter_style label+img.fa-searh-solid {
        display: initial;
        visibility: visible;
        padding: 15px;
    }

    /**/

    header#branding div#filter ul#filter_field {
        flex-wrap: wrap;

    }

    header#branding div#filter ul#filter_field span {
        margin-top: -20px
    }

    header#branding div#filter ul#filter_field li {
        margin: 4px 3px;
    }

    header#branding div#filter ul#filter_field li img {
        margin: initial;
        padding: initial;
    }

    /*---------------------------------------------------- main --------------------------------------*/


    /*-------------------------------------------------- section -------------------------------------*/
    main#wrapper section#container_main {

        display: flex;
        flex-direction: column-reverse;
    }

    main#wrapper section#container_sub {
        display: flex;
        justify-content: center;
    }

    /*-------------------------------------------------- article -------------------------------------*/
    /*--- #container_main #content_main*/

    section#container_main article#content_main {
        display: flex;
        padding: initial;
        flex-direction: column;
        width: initial;
    }

    section#container_main article#content_main ul {

        width: initial;
        margin: initial;
    }


    section#container_main article#content_main ul>li img {
        height:70%;
        width: 100%;

    }

    section#container_main article#content_main>ul {
        flex-direction: column;
    }

    section#container_main article#content_main ul li ul.note_list {
        justify-content: center;
    }

    section#container_main article#content_main ul li ul.note_list li {
        height: 10px;
    }

    /*--- #container_main #content_sub ---*/

    section#container_main article#content_sub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: initial;
        width: initial;
    }

    section#container_main article#content_sub>ul {
        width: initial;
        margin: initial;
        padding: 0 25px;
    }

    section#container_main article#content_sub ul>li img {
        height: initial;
    }

    section#container_main article#content_sub ul li div {
        display: initial;
    }

    section#container_main article#content_sub ul li img+div {
        margin-left: 10%;
    }

    /*--- #container_sub #content_main ---*/

    section#container_sub article#content_main ul#activites {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: initial;
    }


    section#container_main article#content_sub ul li div p:nth-child(2) {
        margin: initial;
    }

    /*------------------------------------------------------- footer ------------------------------------------------*/
    footer#foot_site {
        margin: initial;
    }

    footer#foot_page section#info_site {
        flex-direction: column;
        height: initial;
        margin: auto;

    }

    footer#foot_page section#info_site>ul {
        flex-direction: column;
        justify-content: center;
        width: initial;
    }


    /*------------------------------------------------------- style----------------------------------------------------*/

    /*--- Section ---*/
    main#wrapper section#container_main article#content_main {
        background-color: initial;
    }

    main#wrapper section#container_main article#content_main ul li,
    main#wrapper section#container_sub article#content_main ul li {
        box-shadow: 2px 10px 20px 1px rgba(0, 0, 0, .2);
    }

    main#wrapper section#container_main article#content_main ul li ul li {
        box-shadow: initial;
    }
}