/*couleur de la charte 
bleu #0065fc
claire #deebff
        
fond #f2f2f2
*/

/*--- Background-color #container_main article and footer#foot_site --*/

main section#container_main article,
footer {
    background-color: #f2f2f2;
}

/*--- a / link "color and border" --------*/
a{
    text-decoration: none;
}

ul.list_btn li a {
    border: 2px white solid;
    padding-top:50px;
    width: 100%;
}

ul.list_btn li a:link {
    color: #bbbbbb;
}

ul.list_btn li a:visited {
    color: #bbbbbb;
}

ul.list_btn li:hover a{
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding-top:50px;
}

ul.list_btn li a:active {
    color: #0065fc;
}

ul {
    list-style: none;

}

/* ------------------------------------------------------------ container_main article // container_sub article-------------------------------------------------------------*/

main#wrapper section#filter div#info_filter i{
    border-radius: 50%;
    border: 2px #f2f2f2 solid;
    color:#0065fc;
}
main#wrapper section#filter figure img.fa-info {
    border: 2px solid #f2f2f2;
}

main#wrapper section#filter input {
    border: none;
}

main#wrapper section#filter a {
    color: #deebff;
    background: #0065fc;
    border-radius: 0 15px 15px 0;
}
 
main#wrapper section#filter div#filter_research {
    border: 1px solid #f2f2f2;
    border-radius: 25px;
}

main#wrapper section#filter div#filter_research i.fa-map-marker-alt {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

main#wrapper section#filter div#filter_research label input#btn_filter,
main#wrapper section#filter div#filter_research label>i.fa-search{
    background-color: #0065fc;
    color:white;
    border-radius: 0 15px 15px 0;
}

main#wrapper section#filter ul#filter_field li {
    border: 3px solid #f2f2f2;
    border-radius: 25px;
}

main#wrapper section#filter div#filter_research+ul#filter_field i {
    border-radius: 50%;
    background-color: rgba(0, 101, 252, 0.1);
    color:#0065fc;
}
/**/
section#container_main article#content_main,
section#container_main article#content_sub {
    border-radius: 20px;
}

/*--- Container_main article ul ------------*/


section#container_main article#content_main ul li,
section#container_main article#content_sub ul li {
    background-color: #fff;
    border-radius: 25px;
}

section#container_main article#content_main ul li div.image_content {
    border-radius: 19px 19px 0 0;    
}

section#container_main article#content_sub ul li.list_populaire div{
 border-radius: 19px 0 0 19px;
}

section#container_main article#content_main div ul li.list_hebergement{
  
    box-shadow: 0px 15px 32px 1px rgba(0, 0, 0, 0.2);
}

section#container_main article#content_main div#list_hebergement_content ul li.list_hebergement,
section#container_main article#content_sub ul li.list_populaire {
    box-shadow: 11px 13px 36px 1px rgba(0, 0, 0, 0.2);
    border: 5px solid white;
}

/*---------------*/

section#container_sub article#content_main ul#activites li p {
    background-color: white;
    padding: 20px 0 20px 20px;
    border-radius: 0 0 20px 20px;
}

section#container_sub article#content_main ul#activites li {
    box-shadow: 0px 15px 32px 1px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

/*couleur des notes étoile*/


div.note_list i.fas,
ul.note_list i.fas{
    color: #0065fc;
    
}
ul:first-child li.list_hebergement:nth-child(1) div div.note_list i.fas:last-child,
ul:first-child li.list_hebergement:nth-child(3) div div.note_list i.fas:last-child{
color: #deebff;
}

ul:last-child li.list_hebergement:nth-child(1) div div.note_list i.fas:last-child,
ul:last-child li.list_hebergement:nth-child(1) div div.note_list i.fas:nth-child(4),
ul:last-child li.list_hebergement:nth-child(2) div div.note_list i.fas:last-child{
color: #deebff;
}

ul li.list_populaire:nth-child(2) div ul i.fas:last-child,
ul li.list_populaire:nth-child(2) div ul i.fas:nth-child(4),
ul li.list_populaire:last-child div ul i.fas:last-child{
    color: #deebff
}



/* ------------------------------------------------------------ Footer ----------------------------------------------------------------*/

footer#foot_page a {
    color: black;
}